<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login</title>
</head>
<body>
	<form action="http://localhost:8080/Welcome-App/LoginController" method="get">
		First Name : <input type="text" name="firstName"><br>
 		Last Name : <input type="text" name="lastName"><br>
 		<input type="submit" value="Submit"> 
	</form>

		<form action="http://localhost:8080/Welcome-App/LoginController" method="post">
		First Name : <input type="text" name="firstName"><br>
 		Last Name : <input type="text" name="lastName"><br>
 		<input type="submit" value="Submit"> 
	</form>


</body>
</html>